##### Comments
From # symbol to end of a line

#### Code Blocks
Delineated by colons and indented code and not the curly brackets as java or c++  
4 spaces for indentation level  
Mixing Tabs ans spaces produces hard to find errors.

In [1]:
def is_even(x):
    if x % 2 == 0:
        return 'even'
    else:
        return 'odd'

#####  Naming Conventions
go for https://google.github.io/styleguide/pyguide.html

#### Modules
Modules open up a world of python extensions that can be imported and used.

In [2]:
import math
math.sqrt(4)

2.0

In [3]:
#only specific import
from math import sqrt
sqrt(4)

2.0

In [4]:
#import as alias
import math as m
m.sqrt(4)

2.0

In [5]:
#import all - Bad global import type
from math import *
sqrt(4)

2.0

In [2]:
#some useful import for data science
import re # for regular expressions
import os #operating sys interface
import datetime #Date time functions
import string #string functions
import numpy # numerical python
import pandas #Data frames for python
import matplotlib # plotting
import sklearn #sklaern api for ML
import statsmodels.api #statsmodels
import scipy #scintific python

#### Basic data types
None - None  --> Singleton null object
Boolean - True , False  
long - 1L,9787L  
float - 5.36 , inf, -inf, nan  
complex - 3+9j  
string - 'i am Uday'  
tuple - () , (1,2) ,('Uday',True) --> Immutable list  
list - [], [1,2,3], ['Uday',False] --> Mutable  
set - {}, {1,2,3}, --> Mutable
Dictionary - {'a':1,'b':2} -->Mutable Key Value pairs
file

#### Conditional satements and loops

In [3]:
#IF
x = 3
if x == 3: #Condition
    y = 3 #Statement
elif x == 6: #Condition - Optional - Can be Multiple
    y = 3 #Satement
else: #Optional Final
    y = 9 #Satement

In [4]:
#For
for x in [1,2,3]: #[1,2,3] - Iterable object - any iterbale # U can use iter(o[, sentinel])
    print x
else: #Optional
    print 4

1
2
3
4

In [5]:
#While
x = 2
while x < 5:
    print x
    x = x + 1

2
3
4

In [8]:
#Ternary statement
y,a,b,z = 3,4,4,7
x = y if a-b == 0 else z-1 #expression if condition else expression
print x
y,a,b,z = 3,4,6,7
x = y if a-b == 0 else z-1 #expression if condition else expression
print x

3
6

In [13]:
pass #- a statement that does nothing
continue # moves to the next loop iteration
break # to exit for and while loop

In [14]:
#Exceptions
try:
    print "Hello World" #statements
except:
    print "This is an error message!"

Hello World

In [23]:
x,y = 3,4
try:
    assert x == y
except AssertionError: # can be multiple
    print 'x Not equal to y'
else: # optional no exceptions
    print 'No exceptions x is Equal to y'

x Not equal to y

In [22]:
x,y = 3,3
try:
    assert x == y
except AssertionError: # can be multiple
    print 'x Not equal to y'
else: # optional no exceptions
    print 'No exceptions x is Equal to y'

No exceptions x is Equal to y

For Built in exceptions
https://docs.python.org/2/library/exceptions.html

In [26]:
#Errors are Raised using
#raise ValueError(value)

In [67]:
#Swaping
x = 3
y = 6
print 'Before' ,'x=',x,'y=', y
x,y = y,x
print 'after' ,'x=',x,'y=', y

Before x= 3 y= 6
after x= 6 y= 3

#### Objects and variables 
1. Everything is an object in Python.in the sense that it can be assigned to a variable or passed as anargument to a function.  
2. Most Python objects have methods and attributes.  
3. All variables are effectively "pointers", not "locations". They are references to objects; and often called identifiers.  
4. Some objects are immutable (int, float, string, tuple, frozenset). But most are mutable (including: list, set,dictionary,    NumPy arrays, etc.)

#### Booleans and truthiness
Most Python objects have a notion of "truth".

In [44]:
#False & True
n = None
if n == None:
    print None
print ('False ->',int(False))
print ('True ->',int(True))
x = [] # for any empty data type
if x:
    print 'Not Empty' # if X is not empty so
else:
    print 'x is Not Empty'

None
('False ->', 0)
('True ->', 1)
x is Not Empty

In [51]:
#You can get state of truth using bool
print bool([1,2])
print bool({})
print bool(True)
print bool(False)
print bool('Uday')
print bool('')
print bool(None)

True
False
True
False
True
False
False

#### pythonic to use the truth of objects.

In [55]:
x = [1,2]
if x: # test not empty
    print x # do something

[1, 2]

In [57]:
x = [1,2,3]
while x: # common looping idiom
    y = x.pop() # Pop we will learn in Lists below
    print 'Popitem',y
print x

Popitem 3
Popitem 2
Popitem 1
[]

#### Tuples  
Tuples are immutable lists. They can be searched,
indexed and iterated much like arrays.  
the comma is the tuple constructor, not the
parentheses. The parentheses add clarity.

In [61]:
a = () # the empty tuple
b = (1,) #  note comma # one item tuple
c = (1, 2, 3) # multi-item tuple
d = ((1, 2), (3, 4)) # nested tuple
e = tuple(['a', 'b']) # conversion

In [62]:
print a,b,c,d,e

() (1,) (1, 2, 3) ((1, 2), (3, 4)) ('a', 'b')

In [68]:
x = 3,4  # Comma is tuple constructor
type(x)

tuple

Note: List methods that do not change the list also work on tuples.

#### Strings
immutable, ordered, characters

In [79]:
s = 'teststring'
print s
# conversion
a = str(1) 
print a
print type(a)

teststring
1
<type 'str'>

In [76]:
#concatenation
s = 'test'+'string'
print s
s = 'test'+' '+ 'string'
print s
s = ''.join(['test','string'])
print s

teststring
test string
teststring

In [77]:
# replication
s = 'Uday' * 3 
s

'UdayUdayUday'

In [80]:
#You can iterate through string
for s in 'Pytthon':
    print s

P
y
t
t
h
o
n

In [81]:
#enumerate
#enumerate is a keyword tht will give list of tuples with index and value as below
for s in enumerate('Python'):
    print s

(0, 'P')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [82]:
# Searching
'P' in 'Python'

True

In [85]:
#Slicing
s = 'Hello'
print s[0]
print s[-1]
print s[-5]

H
o
H

!['Slicing'](https://developers.google.com/edu/python/images/hello.png)

In [88]:
print s[1:4] # 'ell'chars starting at index 1 and extending up to but not including index 4
print s[1:] # 'ello' -- omitting either index defaults to the start or end of the string
print s[:] # 'Hello' -- omitting both always gives us a copy of the whole thing (this is the pythonic way to copy a sequence like a string or list)
print s[:-3] # 'He' -- going up to but not including the last 3 chars.

ell
ello
Hello
He

In [89]:
s = 'Python'
print s.lower() # returns the lowercase
print s.upper() #returns uppercase version of the string

python
PYTHON

In [90]:
s = ' Python '
print s
print s.strip() # returns a string with whitespace removed from the start and end

 Python
Python

In [95]:
#checks whether the string consists of alphabetic characters only.
s = 'Python'
print s.isalpha() 
s = 'Python!!'
print s.isalpha()

True
False

In [96]:
#checks whether the string consists of digits only.
s = '123'
s.isdigit()

True

In [97]:
#tests if the string starts or ends with the given other string
s = 'Python'
print s.startswith('P')
print s.endswith('n')

True
True

In [101]:
#searches for the given other string  within s, and returns the first index where it begins or -1 if not found
print s.find('t')
print s.find('u')
a = 'baaaaaaab'
print a.find('b')
print a.find('a')

2
-1
0
1

In [103]:
#returns a string where all occurrences have been replaced
new = a.replace('a','c')
print a
print new

baaaaaaab
bcccccccb

In [104]:
#returns a list of substrings separated by the given delimiter
s = 'test-string'
s.split('-')

['test', 'string']

#### string formatting

In [106]:
'Learning {}'.format('Python')

'Learning Python'

In [109]:
'{}'.format(math.pi)

'3.14159265359'

In [110]:
'{0:.2f}'.format(math.pi)

'3.14'

In [111]:
'{0:+.2f}'.format(6)

'+6.00'

In [112]:
'{:.2e}'.format(3000)

'3.00e+03'

In [113]:
'{:0>2d}'.format(5)

'05'

In [114]:
'{0}{1}'.format('a', 'b')

'ab'

In [115]:
'{1}{0}'.format('a', 'b')

'ba'

In [116]:
'{num:}'.format(num=7)

'7'

#### List 
mutable, indexed, ordered container  
Indexed from zero to length-1

In [122]:
# the empty list
[]

[]

In [123]:
# simple list
[1,2,3]

[1, 2, 3]

In [124]:
# nested lists
[[1, 2], [4, 5]]

[[1, 2], [4, 5]]

In [125]:
# concatenation
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [126]:
# replication
[3,6,9] * 3

[3, 6, 9, 3, 6, 9, 3, 6, 9]

In [127]:
 # conversion
s = 'Python'
list(s)

['P', 'y', 't', 'h', 'o', 'n']

List comprehensions  
It can be used to construct lists in a very natural, easy way, like a mathematician is used to do  
S = {x² : x in {0 ... 9}}  
V = (1, 2, 4, 8, ..., 2¹²)  
M = {x | x in S and x even}

In [128]:
#range is used to create range of numbers
range(0,10)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [131]:
# Range i
S = [x**2 for x in range(0,10)]
S

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [133]:
V = [2**i for i in range(0,13)]
V

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

In [134]:
M = [x for x in S if x % 2 == 0]
M

[0, 4, 16, 36, 64]

Prime no using List Comprehension  
The interesting thing is that we first build a list of non-prime numbers, using a single list comprehension, then use another list comprehension to get the "inverse" of the list, which are prime numbers.

In [144]:
nonprimes = [j for i in range(2, 10) for j in range(i*2, 100, i)]
primes = [x for x in range(2, 100) if x not in noprimes]
print 'Nonprimes',nonprimes
print 'primes' ,primes

Nonprimes [4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99]
primes [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

Iterating lists

In [145]:
for x in primes:
    print x

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [146]:
for i, x in enumerate(primes):
    print (i, x)

(0, 2)
(1, 3)
(2, 5)
(3, 7)
(4, 11)
(5, 13)
(6, 17)
(7, 19)
(8, 23)
(9, 29)
(10, 31)
(11, 37)
(12, 41)
(13, 43)
(14, 47)
(15, 53)
(16, 59)
(17, 61)
(18, 67)
(19, 71)
(20, 73)
(21, 79)
(22, 83)
(23, 89)
(24, 97)

Searching lists

In [147]:
if 3 in primes:
    print '3 is prime no'
else:
    print '3 is not prime no'

3 is prime no

In [149]:
if 4 not in primes:
    print '4 is not prime no'
else:
    print '4 is prime no'

4 is not prime no

Some List methods

In [152]:
l = [3,5,9]
#append Add x to end of list
l.append(12)
l

[3, 5, 9, 12]

In [153]:
#extend - Append items from other other list
u = [2,4,6]
l.extend(u)
l

[3, 5, 9, 12, 2, 4, 6]

In [154]:
l = [3,5,9]
u = [2,4,6]
l.append(u)
l

[3, 5, 9, [2, 4, 6]]

In [155]:
#insert - Insert val at position
l = [3,5,9]
l.insert(0,1) #(pos,val)
l

[1, 3, 5, 9]

In [156]:
#del - Delete item at pos
del l[0] #l[pos]
l

[3, 5, 9]

In [157]:
#remove(x) Remove first occurrence of x and error if no x
l.remove(3)
l

[5, 9]

In [158]:
l = [3,3,6,9]
l.remove(3)
l

[3, 6, 9]

In [159]:
l.remove(5)

ValueError: list.remove(x): x not in list

In [160]:
#pop([pos]) Remove last item from list (oritem from pos) and error if empty
l.pop()
l

[3, 6]

In [161]:
l.pop(0)
l

[6]

In [162]:
#index(x) Get index of first occurrence of x
l = range(0,10)
print l
l.index(4)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

4

In [169]:
#count(x) Count the number of times x is found in the list
l = [3,3,4,5,3]
l.count(3)

3

In [170]:
#sort() - In place list sort sort(cmp=None, key=None, reverse=False)
l.sort()
l

[3, 3, 3, 4, 5]

In [171]:
#reverse(x) In place list reversal
print l
l.reverse()
l

[3, 3, 3, 4, 5]

[5, 4, 3, 3, 3]

List slicing

In [172]:
l = range(0,10)
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [173]:
# 1st element (nth element --> n-1 index)
l[0]

0

In [174]:
# 2nd to 5th element
l[1:5]

[1, 2, 3, 4]

In [176]:
# first four elements
l[:4]

[0, 1, 2, 3]

In [177]:
# last four elements
l[-4:]

[6, 7, 8, 9]

In [178]:
# all but the last four elements
l[:-4]

[0, 1, 2, 3, 4, 5]

In [179]:
# every element of l - Copy
l[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [180]:
# 1st then every 3rd
l[::3]

[0, 3, 6, 9]

In [181]:
#start 1, stop >= 5, by every 2nd
l[1:5:2]

[1, 3]

#### Sets
unique, unordered container  
Python set is an unordered, mutable collection of
unique hashable objects

In [182]:
# empty set
s = set()
s

set()

In [185]:
# simple set
s = {1,2,3}
print s
s = {1,2,2,3,3}
print s

set([1, 2, 3])
set([1, 2, 3])

In [186]:
# convert list
l = [1,2,3,4,1,5,6,6,7]
set(l)

{1, 2, 3, 4, 5, 6, 7}

In [187]:
#Trap: {} creates empty dict, not an empty set
s = {}
type(s)

dict

Set comprehensions

In [188]:
s = {e for e in range(0,10) if e%2 != 0}
s

{1, 3, 5, 7, 9}

In [191]:
s = {(x,y) for x in range(2,4) for y in range (0,2)}
s

{(2, 0), (2, 1), (3, 0), (3, 1)}

In [192]:
s = {[x,y] for x in range(2,4) for y in range (0,2)}
s

TypeError: unhashable type: 'list'

set contents need to be immutable to be hashable. So you can have a set of tuples, but not a set of lists.

Iterating a set

In [194]:
for x in s:
    print x

(3, 0)
(2, 0)
(3, 1)
(2, 1)

Searching a set

In [196]:
if (3,0) in s:
    print 'yes'

yes

In [197]:
s

{(2, 0), (2, 1), (3, 0), (3, 1)}

In [198]:
s[0]

TypeError: 'set' object does not support indexing

'set' object does not support indexing

Some Set methods

In [199]:
#len(s) -  Number of items in set
len(s)

4

In [200]:
s = {e for e in range(0,10) if e%2 != 0}
#add(item) Add item to set
s.add(2)
s

{1, 2, 3, 5, 7, 9}

In [201]:
#remove(item) Remove item from set
s.remove(2)
s

{1, 3, 5, 7, 9}

In [202]:
#pop() Remove and return an arbitrary item
s.pop()
s

{3, 5, 7, 9}

In [204]:
#s.isdisjoint(o) True if s has not items in common with other set o
o = {e for e in range(0,10) if e%2 == 0}
s.isdisjoint(o)

True

In [216]:
#s.issubset(o) Same as set <= other
o = {e for e in range(2,6) if e%2 != 0}
s.issubset(o)

False

In [217]:
#s.issuperset(o) Same as set >= other
s.issuperset(o)

True

In [218]:
#s.union(o[, ...]) Return new union set\
i = {e for e in range(2,6) if e%2 == 0}
s.union(i)

{2, 3, 4, 5, 7, 9}

In [220]:
#s.intersection(o) Return new intersection
s.intersection(o)

{3, 5}

#### Dictionary 
indexed, unordered map-container  
A mutable hash map of unique key, value pairs

In [221]:
# empty dictionary
{}

{}

In [222]:
# simple dict
{1:1,2:4,3:9}

{1: 1, 2: 4, 3: 9}

In [224]:
# convert paired data
l = [(x,x**2) for x in range(0,5)]
print l
d = dict(l)
d

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [226]:
l = range(0,5)
print l
u = [x**2 for x in range(0,5)]
print u
print zip(l,u)
print dict(zip(l,u))

[0, 1, 2, 3, 4]
[0, 1, 4, 9, 16]
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

Dictionary comprehensions  
Conceptually like list comprehensions; but it constructs a dictionary rather than a list

In [227]:
{x:x**2 for x in range(0,5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [228]:
{x:x**2 for x in range(0,5) if x in range(0,4)}

{0: 0, 1: 1, 2: 4, 3: 9}

In [229]:
#swaping the key:value pairs
d = {x:x**2 for x in range(0,5)}
d.keys()

[0, 1, 2, 3, 4]

In [230]:
d.values()

[0, 1, 4, 9, 16]

In [231]:
d.items()

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16)]

In [232]:
{val:key for key,val in d.items()}

{0: 0, 1: 1, 4: 2, 9: 3, 16: 4}

Iterating a dictionary

In [233]:
for key in d.keys():
    print key

0
1
2
3
4

In [235]:
for val in d.values():
    print val

0
1
4
9
16

In [234]:
for key,val in d.items():
    print key,val

0 0
1 1
2 4
3 9
4 16

Some Dictionary methods

In [236]:
#len(d) Number of items in d
len(d)

5

In [238]:
#d[key] Get value for key else error
d[2]

4

In [239]:
#d[key] = value Set key to value
d[2] = 25
d[2]

25

In [242]:
#d.get(key[, def]) Get value else default
print d
d.get(6,-1)

{0: 0, 1: 1, 2: 25, 3: 9, 4: 16}

-1

In [243]:
#d.update(d2) Update d with key:val pairs from other
d2 = {2:4}
print d
d.update(d2)
print d

{0: 0, 1: 1, 2: 25, 3: 9, 4: 16}
{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### Some Key functions in Python

In [244]:
#abs(num) Absolute value of num
abs(-1)

1

In [246]:
#all(iterable) True if all are True
all([123,[],'test'])

False

In [247]:
#all is like below
def all(iterable):
    for element in iterable:
        if not element:
            return False
    return True

In [248]:
#any(iterable) True if any are True
any([123,[],'test'])

True

In [249]:
#complex(re[, im]) Create a complex number
complex(2,3)

(2+3j)

In [252]:
#enumerate(seq) method returns an (index,element) tuple
enumerate(range(0,10))

In [256]:
enumerate(range(0,10)).next()

(0, 0)

In [257]:
#eval(string) Evaluate an expression
x = 1
eval('x+1')

2

In [258]:
#filter(fn, iter) Construct a list of elements from iter for which fn() returns True like comprehensions
l = range(0,10)
def even(x):
    if x%2 == 0:
        return True
    else:
        return False
filter(even,l)

[0, 2, 4, 6, 8]

In [259]:
#float(x) Convert from int/string
float(1)

1.0

In [260]:
#map(fn, iterable) Apply fn() to every item in iterable; return results in a list
map(even,l)

[True, False, True, False, True, False, True, False, True, False]

In [261]:
#max(iterable) Max value
max(l)

9

In [262]:
#min
min(l)

0

In [263]:
#pow(x, y) Same as x ** y
pow(2,4)

16

In [264]:
#range(fr,to,step) integer list stops < stop default start=0 default step=1
range(0,10,2)

[0, 2, 4, 6, 8]

In [272]:
#reduce(fn, iter) Applies the two argument fn(x, y) cumulatively to the items of iter.
reduce(sum,l)

45

#### functions

In [273]:
def testfunction(x,y,z):
    return x+y-z
testfunction(2,3,4)

1

In [276]:
testfunction(2,3,z=4)

1

Arguments are passed by reference ie. the objects are not copied, just the references.

In [277]:
#default value for arg
def test(x,y,z=4):
    return x+y-z
test(2,3)

1

Lambda (inline expression) functions

In [278]:
sqr = lambda x: x ** 2 # no return
sqr(2)

4

In [279]:
summ = lambda x,y : x+y
summ(2,3)

5

Lambdas are often used with the Python functions filter(), map() and reduce().

In [280]:
#even filter
filter(lambda x: x%2 == 0, range(0,20))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [281]:
reduce(lambda x,y : x*y , range(1,10))

362880

In [282]:
1*2*3*4*5*6*7*8*9

362880

In [283]:
map(lambda x: x**3 , range(0,10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

#### Generators  
Generator functions are resumable functions that work like iterators. They can be more space or time efficient than iterating over a list especially a very large list, as they only produce items as they are needed.

In [284]:
#generator for Fibonacci sequence
def fib(max=None):
    a, b = 0, 1
    while max is None or b <= max:
        yield b #  yield is like return
        a, b = b, a+b
[i for i in fib(20)]

[1, 1, 2, 3, 5, 8, 13]

Generator Expressions

In [286]:
g = (x*x for x in range(10))
g

In [287]:
for x in g:
    print x

0
1
4
9
16
25
36
49
64
81

Credits:
1. Google Python Class
2. CS109- Harward